package components

templ FooterContainer() {
	<footer class="footer-container w-full bg-primary">
		<div class="container flex justify-between items-center gap-12 py-8 px-3 mx-auto">
			<div class="text-xs md:text-[1rem] text-white">Copyright © 2023 buzzer | All Rights Reserved</div>
			<div class="h-10 md:h-16">
				<img src="assets/images/logo-t.png" alt="logo" class="max-w-full max-h-full object-cover"/>
			</div>
		</div>
	</footer>
}
