package components_shared

templ NetflixList() {
	<app-netflix-horizontal-list>
		<div class="scrollbar-hide grid grid-flow-col gap-12 overflow-auto snap-x snap-mandatory" slot="list">
			{ children... }
		</div>
	</app-netflix-horizontal-list>
}
