package components_core

templ DefaultPageLayout(main templ.Component) {
	<main class="container mx-auto">
		{! main }
	</main>
	<script type="text/javascript" src="/dist/tw-elements.js" async></script>
}
